@tailwind base;
@tailwind components;
@tailwind utilities;

/* kenya-hero background image */
.kenya-hero {
	background-image: url("/public/fwr-kenya-hero.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}

span.ripple {
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	animation: ripple 600ms linear;
}

@keyframes ripple {
	to {
		transform: scale(4);
		opacity: 0;
	}
}
